
Limit <input [(ngModel)]="limit" type="number">

<h4>Default select</h4>
<div>
  <oi-angular-select [(ngModel)]="item"
                     [models]="items"
                     multiple
                     [multipleLimit]="limit"
                     size="sm"
                     titlePlaceholder="Select..."
                     valueField="value"
                     searchField="name"></oi-angular-select>
</div>

<h4>Async getItems</h4>
<div>
  <oi-angular-select [(ngModel)]="item"
                     [options]="options"
                     multiple
                     [multipleLimit]="limit"
                     size="sm"
                     titlePlaceholder="Select..."
                     valueField="value"
                     searchField="name"></oi-angular-select>
</div>

<h4>Options</h4>
<oi-angular-select [(ngModel)]="item"
						       [models]="items"
						       [options]="options2"
				></oi-angular-select>

<button type="button" (click)="setOptions()">Set options</button>

{{ item | json }}
